<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
  <title>Register</title>
</head>

<body>
  <div class="main-container">
    <img src="{{ url_for('static', filename='timely.png') }}" alt="Your Logo" class="logo" width="150" height="auto">

    <form method="POST" action="">
      {{ form.hidden_tag() }}

      <div class="left-aligned">
        {{ form.first_name.label }}
      </div>
      {{ form.first_name(size=32) }}<br>

      <div class="left-aligned">
        {{ form.last_name.label }}
      </div>
      {{ form.last_name(size=32) }}<br>

      <div class="left-aligned">
        {{ form.email.label }}
      </div>
      {{ form.email(size=32) }}<br>

      <div class="left-aligned">
        {{ form.username.label }}
      </div>
      {{ form.username(size=32) }}<br>

      <div class="left-aligned">
        {{ form.password.label }}
      </div>
      {{ form.password(size=32) }}<br>
      {{ form.submit }}
    </form>

    <p class="left-aligned">
      Already have an account? <a href="{{ url_for('login')}}">Log In</a>
    </p>
  </div>
</body>

</html>