@font-face {
    font-family: 'Gabarito';
    src: url("C:\\Users\\lordc\\Downloads\\Time Management\\static\\Gabarito-VariableFont_wght.ttf") format('truetype');
  }

body {
    background-color: #f5f5f5;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
  }
  
  /* Main container styling */
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the container full height */
  }
  
  /* Logo styling */
  
  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Left-aligned text styling */
  
  .left-aligned {
    text-align: left; /* Align non-input text to the left */
  }
  
  /* Heading styling */
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Link styling */
  
  a {
    color: #2862ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Form styling */
  
  form {
    width: 300px;
  }
  
  /* Label styling */
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* Align label text to the left */
    color: #808080; /* Set label text color to a grayer shade */
    margin-top: 5px; /* Reduce the space between label and input box */
  }
  
  /* Input field styling */
  
  input {
    width: 100%;
    padding: 15px; /* Increase padding to make boxes bigger */
    border: 1px solid #ccc;
    margin-bottom: 10px;
    text-align: left; /* Align input text to the left */
    border-radius: 5px; /* Add slight rounded corners */
  }
  
  /* Submit button styling */
  
  input[type="submit"] {
    width: 112% !important; /* Force the button to be 100% width */
    padding: 15px !important; /* Force the button padding to be 15px */
    background-color: #2862ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Add slight rounded corners */
    margin-top: 10px; /* Add spacing between button and input fields */
    margin-bottom: 5px; 
  }

  input[type="submit"]:hover {
    background-color: #2352dc; /* Darken the background color on hover */
  }
  
  /* Signup link styling */
  
  p.left-aligned {
    text-align: center; /* Left-align the signup link text */
  }
  