.delete-task-btn:hover {
background-color: #cc0000; /* Darker red when hovered */
}

.task-delete-form{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent; /* Transparent background color */
    border: none; /* Remove the border */
    width: 0px;
    height: 0px;
    /* scale height and width down */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    outline: none;
}
